<html>
    <body>
        <div class="container">
            <h2>Whats up fucker</h2>
            <p>The message your searched is the following</p>
            <div class="card" style="display: flex; flex-direction: column; align-items: center; justify-content: center; background-color: aqua;">
                <h2>Message</h2>
                <p>From: <%= message.user %></p>
                <p><%= message.text %></p>
                <p>Date added: <%= message.added %></p>
            </div>

        </div>
    </body>
</html>